:root {
  --bg-color: gainsboro;
  --text-color-dark: darkslategrey;
  --text-color-light: lightslategrey;
}

body {
  background-color: var(--bg-color);
}

.dark-text {
  color: var(--text-color-light);
}